@charset "utf-8";
/* CSS Document */

.container {
	
	width: 70%;
	margin: 0 auto;
	position: relative;
}

img {
	width: 100%;
	height: auto;
}

.box1 {
	
	position: absolute;
	right:5px;
	top: 40px;
	background-color: aqua;
}

.box2 {
	position: fixed;
	top:0;
	left:30px;
	background-color: cornflowerblue;
	padding: 20px 50px;
}


.insidebox2 {
	padding: 15px 23px;
	background-color: blueviolet;
	
}

.Box3 {
  position: static;
  border: 3px solid #73AD21;
}

.box4 {
  position: relative;
  left: 30px;
  border: 3px solid #D96969;
}

.Box5 {
  position: sticky;
  top: 0;
  background-color: green;
  border: 2px solid #4CAF50;
}






