@charset "utf-8";
/* CSS Document */

h1 {
font-family: "scatterplot-vf", sans-serif;
font-variation-settings: "RAND" 0, "wght" 300;
}

body {
	font-family: "private-sans", sans-serif;
font-weight: 400;
font-style: normal;
	line-height: 1.7em;
}

#wrapper{
	background-color:antiquewhite;
	float:left;
	padding: 0 32%;
	
}

.weekly {
	width:45%;
	float:left;
	margin: 0 5%;
}



#project {
	
	width:45%;
	float:left;
}



a:link  {
	
	color: lightcoral;
	text-decoration: none;
}

a:visited {
  color: darkblue;
}

a:hover  {
	
	color:burlywood;
	text-decoration: underline;
}

a:active  {
	
	color:orange;
}

.demo{
	
	color:indianred;
}

