@charset "utf-8";
/* CSS Document */

@import url(https://db.onlinewebfonts.com/c/2da952d097bffd198ec0f0aa3fdd6804?family=JejuHallasan);

@font-face {
    font-family: "JejuHallasan";
    src: url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.eot");
    src: url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.svg#JejuHallasan")format("svg");
}

#container {

	margin-top: 40vh;
}


#logo {
	
}


body {
	background-color: #8B3232;
	font-family: "JejuHallasan";
}

#sale{
   display: block;
	justify-content: center;
  margin: 30px 700px;
  
}


#movement {
	
	float: right;
	letter-spacing: 4px; 
	padding: 0px 0% 0 0; 
	font-family: "jersey 20";
	font-size: 85px;
	
}

#home  {
	font-size: 55px;
	color: black;
}

#about  {
	font-size: 55px;
	color: black;
}

#music  {
	font-size: 55px;
	color: black;
}

#tour  {
	font-size: 55px;
	color: black;
}

hr {
	border: 2px solid black;

}

#welcome {
	font-size: 100px;
	 text-align: left;
	margin: -250px 0px 0px 0px;
	
}
	
ul {
	overflow: hidden;
	list-style-type: none;
	text-align: right;
}

li {
	
	text-align: right;
	display: inline;
	font-size: 58px;
}

li a {
	
}



#introduction {
	text-align: left;
	font-size: 35px;
	font-family: "jersey 20";
}


#text {
	text-align: center;
	
}

.column0 {
	float: right;
	height: 15px;
	width: 17.43%;
	padding: 5px;
	margin: -270px 0px 0px;
}


.column1 {
	float: left;
	width: 33.43%;
	padding: 5px;
}

.column2{
	float: right;
	width: 17.43%;
	padding: 5px;
	margin: -450px 0px 0px;
}

.row::after {
	content: "";
	clear: both;
	display: inline;
	width: 5px;
}

.text {
	text-align: left;
	margin-right: -115px;
}



#About-us {
	font-size: 100px;
	
	
    
    text-align: left;
}


#About-us-text {
	
	text-align: left;
	font-size: 35px;
	font-family: "jersey 20";
	
}

#home-right {
	height: 500px
}

p {
	text-align: center;
	text-indent: 40px
}

#band-photo {
	
	display: block;
	justify-content: center;
	float: center;
  margin: 55px 700px;
}

#socials {
	
	font-size: 30px;
	
}


#social-logos {

	display: block;
	justify-content: center;
  margin: 0px 441px ;
}

.highlight {
	color:  #8B3232;
}

