@charset "utf-8";
/* CSS Document */

@import url(https://db.onlinewebfonts.com/c/2da952d097bffd198ec0f0aa3fdd6804?family=JejuHallasan);

@font-face {
    font-family: "JejuHallasan";
    src: url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.eot");
    src: url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.svg#JejuHallasan")format("svg");
}

#container {

	margin-top: 40vh;
}


#logo {
	
}


body {
	background-color: #8B3232;
	font-family: "JejuHallasan";
}

#sale{
   display: block;
	justify-content: center;
  margin: 30px 600px;
  
}




#movement {
	
	float: right;
	letter-spacing: 4px; 
	padding: 0px 0% 0 0; 
	font-family: "jersey 20";
	font-size: 85px;
	
}

#home  {
	font-size: 55px;
	color: black;
}

#about  {
	font-size: 55px;
	color: black;
}

#music  {
	font-size: 55px;
	color: black;
}

#tour  {
	font-size: 55px;
	color: black;
}

hr {
	border: 2px solid black;

}

#welcome {
	font-size: 100px;
	 text-align: center;
	margin: -250px 0px 0px 0px;
	
}
	
ul {
	overflow: hidden;
	list-style-type: none;
	text-align: right;
}

li {
	
	text-align: right;
	display: inline;
	font-size: 58px;
}

li a {
	
}



#introduction {
	text-align: center;
	font-size: 35px;
	font-family: "jersey 20";
}


#text {
	text-align: center;
	
}

h3{
	font-family: "JejuHallasan";
	font-size: 35px;
}

h4{
	font-family: "JejuHallasan";
	color: white;
	font-size: 22px;
}

.column0 {
	float: right;
	height: 15px;
	width: 17.43%;
	padding: 5px;
	margin: -270px 17px 0px 0px;
}


.column1 {
	float: left;
	width: 33.43%;
	padding: 5px;
}

.column2{
	float: right;
	width: 17.43%;
	padding: 5px;
	margin: -450px 0px 0px;
}

.column3{
	
	text-align: center;
	margin: -456px 0px 0px 0px;
}

.row::after {
	content: "";
	clear: both;
	display: inline;
	width: 5px;
}

.text {
	text-align: left;
	margin-right: -115px;
}



#About-us {
	font-size: 100px;
    text-align: left;
}

#about-left {
	margin-right: -95px;
	position: absolute;
	margin-top: 70px;
}

#about-right {
	margin-left: -61px;
}

#songs {
	font-size: 100px;
	text-align:center;
}

#About-us-text {
	
	text-align: center;
	font-size: 35px;
	font-family: "jersey 20";
	
	
}

#song-left-1 {
	height: 200px;
	padding: 5px;
	margin: -19px 0px 0px 0px;
}

#song-left-2 {
	height: 200px;
	padding: 5px;
}

#song-left-3 {
	height: 200px;
	padding: 5px;
	float: left;
}

#song-right-1 {
	height: 200px;
	padding: 5px;
	margin: -420px 0px 0px 0px;
	float: right;
}

#song-right-2 {
	height: 200px;
	padding: 5px;
	margin: -400px 0px 0px 0px;
	float: right;
}

#song-right-3 {
	height: 200px;
	padding: 5px;
	margin: -370px 0px 0px -220px;
	float: right;
}

#home-right {
	height: 500px;
	margin: 0px 5px 0px -48px;
}

#home-left {
	position: absolute;
}

p {
	text-align: center;
	text-indent: 40px
}

#band-photo {
	
	display: block;
	justify-content: center;
	float: center;
  margin: 55px 500px;
}

#song-middle {
	text-align: center;
}

#bottom-star {
	margin: 0px 500px 0px 0px
}

#Song-Title-1-left {
	margin: -129px 0px 0px 325px;
	float: left;
}

#additive-left-1 {
	margin: -90px 0px 0px 335px;
	float: left;
}

#Song-Title-2-left {
	margin: -159px 0px 0px 325px;
	float: left;
}

#additive-left-2 {
	margin: -115px 0px 0px 335px;
	float: left;
}

#Song-Title-3-left {
	margin: 75px 0px 0px 110px;
	float: left;
}

#additive-left-3 {
	margin: 115px 0px 0px -173px;
	float: left;
}

#Song-Title-1-right {
	margin: -325px 325px 0px 0px;
	float: right;
}

#additive-right-1 {
	margin: -290px 365px 0px 0px;
	float: right;
}

#Song-Title-2-right {
	margin: -319px 340px 0px 0px;
	float: right;
}

#additive-right-2 {
	margin: -265px 365px 0px 0px;
	float: right;
}

#Song-Title-3-right {
	margin: -275px 300px 0px 0px;
	float: right;
}

#additive-right-3 {
	margin: -226px 325px 0px 0px;
	float: right;
}











#socials {
	
	font-size: 30px;
	
}


#social-logos {

	display: block;
	justify-content: center;
  margin: 0px 441px ;
}

.highlight {
	color:  #8B3232;
}

